:root{
    --cor-principal: #3347B0;
    --cor-finalizado: #E5B657;
    --cor-texto: white;
}

/* Garante que a página ocupe toda a altura da tela e evita scroll horizontal */
html,
body {
    min-height: 100vh;
    width: 100%;
    margin: 0;
}

/* Configura o body como Flexbox para empilhar header, main e footer  */

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

.container-header{
    background-color: var(--cor-principal);
    display: flex;
    justify-content: space-between;
    height: 100px;
    width: 100%;
    padding: 15px;
}

.container-logo{
    margin-left: 90px;
}

.container-sair{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-right: 90px;
}

.container-sair img{
    height: 40px;
    width: 40px;
}

.container-sair span{
    color: var(--cor-texto);
    font-size: 20px;
}

main {
    width: 100%;
    height: calc(100vh - 100px - 100px); /* 100vh total - altura do header - altura do footer */
}

.container-footer{
    background-color: var(--cor-principal);
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: var(--cor-texto);
}

.container-footer h3{
    font-size: 15px;
}

.container-icons{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
}

.container-icons p{
    padding-left: 15px;
}

.info{
    display: flex;
}

.info img{
    height: 15px;
    width: auto;
}

.container-redes{
    display: flex;
    gap: 20px;
    width: auto;
    height: 50px;
}

.redes-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 2px solid white;
    height: 40px;
    width: 40px;
}

@media(max-width: 667px){

    .container-header{
        height: auto;
        padding: 15px;
        justify-content: space-around;
        align-items: center;
        gap: 70px;
    }

    .container-logo{
        margin-left: 0;
    }

    .container-logo img{
        max-width: 120px;
        height: auto;
    }

    .container-sair{
        margin-right: 0;
        gap: 8px;
    }

    .container-sair img{
        width: 40px;
        height: 40px;
    }

    .container-sair span{
        display: none;
    }

    main{
        height: auto;
        min-height: calc(100vh - 220px);
    }

    .container-footer{
        height: auto;
        flex-direction: column;
        text-align: center;
        padding: 20px 10px;
        gap: 20px;
    }

    .container-footer h3{
        font-size: 14px;
    }

    .container-icons{
        align-items: center;
        gap: 10px;
    }

    .container-icons p{
        padding-left: 0;
    }

    .info{
        justify-content: center;
        gap: 8px;
    }

    .container-redes{
        justify-content: center;
        gap: 15px;
        height: auto;
    }

    .redes-icon{
        width: 40px;
        height: 40px;
    }
}

